<a href="https://colab.research.google.com/github/Sudhanshu1304/Numpy/blob/main/NUMPY_Module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **Topics covered**


* **Creating Array**
* **Reshape()**
* **Shape() and Data type**
* **Type Conversion (.astype())** 
* **Full()**
* **Arange()**
* **Indexing**
* **Slicing**
* **Delete**
* **Concatination**
* **Searching** 
* **Sorting**

<br><br>

In [ ]:
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (1.18.5)

# **Importing Numpy Array**

In [ ]:
import numpy as np

### **Creating Array (np.array())**

In [ ]:
''' Creating a normal array '''

normal_array=[1,2,3,4,6,7]
normal_array

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 8,  9, 10]])

In [ ]:
''' Creating a normal array '''

numpy_array=np.array([1,7,4,3,7,9])
numpy_array

In [ ]:
''' Comparing the two arrays '''

print(type(normal_array),type(numpy_array))

### **.reshape()**

In [ ]:
'''  1D array converted into 2D array with 2 rows and 3 Columns  '''

arr=np.array([1,2,3,5,6,7])

arr=arr.reshape(shape=(2,3))

arr

### **.shape and .dtype**

In [ ]:
arr2.shape

(2, 3)

In [ ]:
arr2.dtype

dtype('int64')

### **Type converstion (.astype())**

In [ ]:
arr=np.array([5,4,3,2])
arr.dtype

In [ ]:
arr=arr.astype('float')

In [ ]:
arr.dtype

### **.full()**

In [ ]:
''' numpy.full() '''

arr=np.full(shape=(3,5),fill_value=5)
arr

### **Arange**

**a = np.arange( start, end , steps)**

<br>

In [ ]:
start=1
stop=20
steps=2

a=np.arange(1,10,2)

In [ ]:
'''Creating Array '''
c=np.arange(1,10,1)
b=c.reshape((3,3))
b

### **Indexing**

**A [ Row , Col ]**

<br>

In [ ]:
'''  
In Lists 

l= [start : stop : steps]

'''

l=[1,2,3,4,5,6,7,8,9]

print(l[1:6])
print(l[1:6:2])
print(l[::-1])
print(l[::-2])

In [ ]:
A=np.arange(1,17,1).reshape((4,4))

In [ ]:
A

In [ ]:
A[1,1]

In [ ]:
A[1,:3]

### **Slicing** 

<br>

1D ARRAY

**array [start : end : steps]**

**default values : start=0, end= size, steps=1**
***

<br>

2D ARRAY


**array [ start : end : steps , start : end : steps ]**


<br><br>

In [ ]:
arr=np.array([1,2,3,4,5,6])

In [ ]:
a1=arr[1:]
a2=arr[1:5:1]
a3=arr[1:5:2]

In [ ]:
print(a1)
print(a2)
print(a3)

In [ ]:
arr=np.array([[1,2,3],[5,6,7],[9,3,6]])

arr[:,1:2]

### **Delete()**

In [ ]:
import numpy as np
a = np.arange(12).reshape(3, 4)
print(a)

In [ ]:
a_del = np.delete(a, 1, 0)
print(a_del)

### **Concatenation**

In [ ]:
arr1=np.array([1,2,3,4])

arr2=np.array([9,8,10])

np.concatenate((arr1,arr2))

In [ ]:
arr1 = np.array([[1,43, 2], [3,23, 4]])

arr2 = np.array([[5,57, 6], [7,12, 8]])


'''   axis==1==column implies it will increase the no of columns and similarly for rows  ''' 

arr = np.concatenate((arr1, arr2), axis=1)
arr

In [ ]:
arr.shape

### **Searching (where())**

In [ ]:
arr=np.array([[1,23, 2], [3,23, 4]])

np.where(arr==23)

### **Sorting**

In [ ]:
arr = np.array([3, 2, 0, 1])

print(np.sort(arr))

In [ ]:
arr = np.array(['banana', 'cherry', 'apple'])

print(np.sort(arr))

In [ ]:
arr = np.array([[3, 2, 4], [5, 0, 1]])

print(np.sort(arr))